/**
 * Theme: Bright
 */

:root[theme="bright"] {
    --primary-bg: #ffffff;
    --secondary-bg: #e4e4e4;
    --input-hover-bg: #bfcae7;
    --input-inactive-bg: #747aad;
    --input-static-bg: #ced7ff;
    --input-active-bg: #80a7f7;
    --input-border-bg: #323850;
    --border-1: #000;
    --border-2: #343840;
    --text-color: #0a0a0a;
    --text-color-2: #000000;
    --container-resize-color: #ccc;
    --text-shadow: none;
}