@import url('./themes/theme-default.css');

@import url('./themes/theme-bright.css');

@font-face {
    font-family: 'San Francisco';  font-weight: 400;
    src: url('../resources/fonts/sf-pro.otf') format('opentype');
}

@font-face {
    font-family: 'JetBrains Mono';  font-weight: 400;
    src: url('../resources/fonts/JetBrainsMono-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Barlow-Thin'; font-weight: 700;
    src: url('../resources/fonts/Barlow-Thin.ttf') format('truetype');
}
:root {
    --title-container-height: 40px;
    --action-element-size: 32px;
    --session-element-height: 30px;
    --input-box-height: 40px;

    --file-editor-font-size: 13px;
    --file-editor-font: 'JetBrains Mono';
    --file-editor-line-height: calc(var(--file-editor-font-size) * 1.35);
}

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background-color: var(--primary-bg);
    width: 100vw;
    height: 100vh;
}

.navigator {
    height: var(--title-container-height);
    background-color: var(--primary-bg);
    -webkit-app-region: drag;
    z-index: 999;
}

/** Display flex */
.container, .action, circular-loader, .input-button-container, .add-session-input-container {
    display: flex;
    box-sizing: border-box;
    font-family: var(--font);
    text-shadow: var(--text-shadow, none);
}

/** Flex left right, start left */
.input-button-container, .add-session-input-container {
    flex-flow: row nowrap;
    justify-content: flex-start;
}

.container {
    color: var(--text-color);
    font-family: var(--font);
    min-width: 0; min-height: 0;
}

.fit-v-content { height: max-content; min-height: max-content; }
.fit-h-content { width: max-content; }

.holding-container {
    padding: 20px 0;
    margin: 20px 0;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    background-color: var(--primary-bg);
    border-radius: 8px;
    animation: holdingContainerFadeIn 0.5s 1;
}

@keyframes holdingContainerFadeIn {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.icon, .action {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    image-rendering: auto;
}

.rect-fit-vertical {
    aspect-ratio: 1;
    height: 100%;
    background-size: 65%;
}

.icon-logo {
    background-image: url('../resources/app_logo.png');
    width: 80px;
    height: 80px;
}

.align-horizontal { flex-direction: row; }
.align-vertical { flex-direction: column; }
.main-start { justify-content: flex-start; }
.main-center { justify-content: center; }
.main-end { justify-content: flex-end; }
.main-space-between { justify-content: space-between; }
.cross-start { align-items: flex-start; }
.cross-center { align-items: center; }
.cross-end { align-items: flex-end; }
.grow-1 { flex: 1; }
.grow-2 { flex: 2; }
.nowrap { flex-wrap: nowrap; }

.round-left-5 { border-radius: 5px 0 0 5px; }
.round-right-5 { border-radius: 0 5px 5px 0; }
.round-5 { border-radius: 5px; }

.h-max-500 { max-height: 500px; overflow: auto; }

/**
 * Border styles
 */
.border-left, .border-right, .border-top, .border-bottom {
    box-sizing: border-box;
}
.border-bottom { border-bottom: 1px solid var(--border-2); }
.border-top { border-top: 1px solid var(--border-2); }
.border-left { border-left: 1px solid var(--border-2); }
.border-right { border-right: 1px solid var(--border-2); }
.border { border: 1px solid var(--border-2); }
/** **/

.bg-primary { background-color: var(--primary-bg); }
.bg-secondary { background-color: var(--secondary-bg); }

.text-color-secondary { color: var(--text-color-2); }
.text-color-primary { color: var(--text-color); }

#sidebar-container {
    width: 400px;
    background-color: var(--secondary-bg);
    transition: width 0.2s, opacity 0.15s;
    flex-shrink: 0;
}

#status-bar {
    height: 30px;
    z-index: 999;
}
#content { z-index: 1;}

@media screen and (max-width: 850px) {
    #sidebar-container:not([expanded]) { width: 0; opacity: 0; }
    #sidebar-container[expanded] { width: 100%; }
    #sidebar-container[expanded] + #inner-content { display: none; }
}

.file-pre-container {
    width: 100%;
    height: 100%;
    flex-grow: 1;
    max-height: 100%;
    max-width: 100%;
    overflow: scroll;
}

.file-container {
    overflow: scroll;
    height: max-content;
    width: max-content;
    min-height: 0;
    flex-shrink: 1;
}

.file-container > * { flex-grow: 0; }

.file-container file-element {
    --file-element-height: 30px;
    display: flex;
    align-items: center;
    width: 100%;
    min-width: max-content;
    box-sizing: border-box;
    flex-flow: row nowrap;
    height: var(--file-element-height);
    line-height: var(--file-element-height);
}

.file-container file-element .file-thumbnail {
    padding: 0 15px;
    width: calc(var(--file-element-height) * 0.8);
    height: calc(var(--file-element-height) * 0.8);
    background-image: url('../resources/icons/file_icons/file_regular.svg');
}

file-element[file-type="directory"] .file-thumbnail { background-image: url('../resources/icons/file_icons/file_folder.svg'); }
.file-container[file-type="directory"] file-element[expanded] .file-thumbnail { background-image: url('../resources/icons/file_icons/file_folder_open.svg'); }
file-element[file-type="compressed"] .file-thumbnail { background-image: url('../resources/icons/file_icons/file_compressed.svg'); }

.terminal-tab {
    padding: 0 15px;
    height: var(--title-container-height);
    line-height: var(--title-container-height);
    font-size: 0.8em;
}

.scroll { overflow: scroll; }

.terminal-tab:hover {
    background-color: var(--input-hover-bg);
    cursor: pointer;
}

.terminal {
    --terminal-height: 200px;
    min-height: var(--terminal-height);
    max-height: var(--terminal-height);
}

.file-container file-element:hover {
    background-color: var(--input-hover-bg);
    cursor: pointer;
}

/** Action styles */
.action {
    width: var(--action-element-size);
    height: var(--action-element-size);
    cursor: pointer;
    border-radius: calc(var(--action-element-size) / 4);
    box-sizing: content-box;
    flex-shrink: 0;
    margin: 2px;
    background-size: 75%;
    fill: var(--text-color-2);
    background-color: var(--input-static-bg);
    border: 1px solid var(--input-border-bg);
}

.action:hover, .action[selected] { background-color: var(--input-hover-bg); }

/** Action thumbnails */
.action-add { background-image: url('../resources/icons/add.svg'); }
.action-edit { background-image: url('../resources/icons/edit.svg'); }
.action-refresh { background-image: url('../resources/icons/reload.svg'); }
.action-delete { background-image: url('../resources/icons/delete.svg'); }
.action-cancel { background-image: url('../resources/icons/cancel.svg'); }
.action-back { background-image: url('../resources/icons/arrow_left.png'); }
.action-forward { background-image: url('../resources/icons/arrow_right.png'); }
.action-search { background-image: url('../resources/icons/search.svg'); }
.action-home { background-image: url('../resources/icons/home.svg'); }

.action-save-file {
    width: max-content;
    padding: 0 10px;
    background-color: var(--input-active-bg);
    line-height: var(--action-element-size);
}
.action-save-file:hover { background-color: color-mix(in srgb, var(--input-active-bg) 50% #000)}

.view-mode-icons { background-image: url('../resources/icons/viewmode_icons.png');}
.view-mode-rows { background-image: url('../resources/icons/viewmode_list.png'); }

.action-add-container {
    padding: 0 15px;
    width: auto;
    min-width: max-content;
    line-height: var(--action-element-size);
    font-size: calc(var(--action-element-size) * 0.4);
}
.action-add-container > .icon { background-size: 65%; }

/* Margins for the session actions container ( right side ) */
.sidebar-action-container {
    width: calc(100% - 40px);
    margin-top: 10px;
}

.action-search-container {
    width: auto;
    background-color: var(--input-static-bg);
}
.action-search-container > .search-input {
    border: none;
    background-color: var(--input-hover-bg);
    box-sizing: border-box;
    transition: width 0.2s ease-in-out;
    width: 100px;
    border-radius: 5px;
    height: var(--action-element-size);
    color: var(--text-color);
    outline: none;
}
.action-search-container > .search-input:focus { outline: none; }
.action-search-container:not([selected]) > .search-input {
    width: 0;
    margin: 0;
    padding: 0;
    min-width: 0;
}

/** Session element styling **/
session-element {
    color: var(--text-color);
    border: 1px solid transparent;
    display: grid;
    grid-template-columns: 32% 40% 8% repeat(2, var(--session-element-height));
    grid-template-rows: var(--session-element-height);
    background-color: var(--input-static-bg);
    box-sizing: border-box;
    border-radius: 5px;
    align-items: center;
    margin: 2px;
    width: calc(100% - 20px);
    padding-left: 20px;
    font-family: var(--font-barlow);
    font-size: calc(0.5 * var(--session-element-height) - 2px);
    line-height: var(--session-element-height);
    transition: background-color 0.2s ease-in-out;
    user-select: none;
}
session-element:hover {
    background-color: var(--input-hover-bg);
    cursor: pointer;
}

session-element[selected] { border: 1px solid var(--text-color-2); }
session-element[inactive] { background-color: var(--input-inactive-bg); }
session-element[connected] { background-color: var(--input-active-bg); }
session-element[hidden]  { height: 0; min-height: 0; border: none; outline: none; color: transparent; }

.connection-status { visibility: hidden; }
session-element[connecting] .connection-status { visibility: visible; }

/***/

/* Connection arrow, visible on hover*/
.session-connect-arrow {
    display: block;
    opacity: 0;
    background-image: url('../resources/icons/arrow_right.png');
    border-radius: 15px;
    --connection-arrow-margin: 6px;
    width: calc(var(--session-element-height) - var(--connection-arrow-margin));
    height: calc(var(--session-element-height) - var(--connection-arrow-margin));
}
/* Show arrow when hovering or when selected */
session-element:hover .session-connect-arrow, session-element[selected] .session-connect-arrow {
    opacity: 1;
}


/** Circular loading element, Animated */
circular-loader {
    height: 100%;
    aspect-ratio: 1;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.circular-loader-rotor {
    position: absolute;
    width: calc(var(--title-container-height) / 5);
    height: calc(var(--title-container-height) / 16);
    box-sizing: border-box;
    border-radius: 40%;
    background-color: var(--text-color-2);
    animation: pulseOpacity 1.0s linear infinite;
    z-index: 10;
    opacity: 0;
}

@keyframes pulseOpacity {
    0% { opacity: 0.2; }
    100% { opacity: 0.7; }
}

/***/

/** Text related styles */
.text-center { text-align: center; }

.full-height { height: 100%; }
.full-width { width: 100%; }

.m-width-100 { max-width: 100% }
.m-height-100 { max-height: 100% }

/** Add session styling */
.input-button-container {
    border-radius: 10px;
    box-sizing: border-box;
}

.input-box, .input-small-rect, .add-session-button {
    color: var(--text-color);
    background-color: var(--secondary-bg);
    height: var(--input-box-height);
    margin: 6px 0;
    border: none;
    box-sizing: border-box;
}

.add-session-button, .input-small-rect {
    text-align: center;
}
.add-session-button:hover { background-color: var(--input-hover-bg);}

.input-box {
    outline: none;
    border: none;
    padding-left: 20px;
}
.input-small-rect {
    width: var(--input-box-height);
    padding-left: 0;
}

.input-small-rect:hover { background-color: var(--input-hover-bg); }

/** Remove input box outline */
.input-box:focus { outline: none; }
.input-box:focus-visible, .input-small-rect:focus-visible { outline: none; }
.input-box[input-error] { outline: 1px solid red; }
/** Remove input box arrows */
.input-box.ssh-port[type="number"]::-webkit-inner-spin-button,
.input-box.ssh-port[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.add-session-input-container { width: calc(100% - 40px); }


#line-number-container {
    width: max-content;
    min-width: 40px;
    counter-reset: line;
}

#file-editor-container {
    width: max-content;
    overflow: auto;
}

.line-number::after {
    counter-increment: line;
    content: '' counter(line);
    display: block;
}

.line-number, .line-content {
    line-height: var(--file-editor-line-height);
    font-size: var(--file-editor-font-size);
    font-family: var(--file-editor-font);
    min-height: var(--file-editor-line-height);
    white-space: pre;
    color: var(--text-color-2);
}

.line-number {
    display: block;
    min-width: 1px;
    padding: 0 10px;
}

.notification {
    --notification-height: 40px;
    position: absolute;
    left: 0;
    top: calc(100vh - var(--notification-height));
    height: var(--notification-height);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    line-height: var(--notification-height);
    width: 100vw;
    background-color: var(--input-active-bg);
}

.notification-type-warning {
    background-color: #ffcc00;
}

.notification-type-error {
    background-color: #ff0000;
}